.post-card {
    max-width: 500px;
    margin: 20px auto;
}

.post-header-image {
    background-size: cover;
}

.left {
    width: 15%;
    text-align: center;
}

.progress {
    width: 85%;
    height: 10px;
}

.user-selected {
    vertical-align: bottom;
}
