.profile-intro {
    margin: 20px;
}

.user-avatar {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-right: 40px;
}

.example-card {
    max-width: 500px;
    margin: 20px auto;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
